/* Aula 20 Maia Quiz */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* vermelho #f44336 ou #d50000 verde #4caf50 ou #1b5e20  */
:root {
    --principal: #03a9f4;
    --secundaria: #0d47a1;
    --azul-escuro: #0d47a1;
    --cinza-escuro: #222;
    --branco: #fff;
    --verde: #4caf50;
    --vermelho: #f44336;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #ffad7e;
    color: #191919;
    overflow-x: hidden;
}

main {
    width: 50%;
    height: 100vh;
}

section {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.75rem;
    margin: 0.5rem 0 0 0;
}

/* classe para centralizar textos, paragrafos */
.centro {
    text-align: center;
}

/* div class questao com numero da questao e pergunta */
.questao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0rem;
}

#numQuestao {
    text-align: center;
    width: 2rem;
    height: 2rem;
    display: block;
    background: var(--principal);
    background-color: chocolate;
    color: rgb(255, 255, 255);
    padding: 6px 10px 4px 8px;
    border-radius: 50%;
}

#pergunta {
    margin-left: 1rem;
    font-size: 35px;
}

.imagemDaQuestao {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* article que acomoda a questao completa */
.questoes {
    user-select: none;
    background: #fff;

    padding: 1.5rem 1.5rem 1rem 1.5rem;
    border: 1px solid #ececec;
    border-radius: 20px;
    margin-bottom: 0.625rem;
}

.questoes ol li {
    border: 1px solid var(--principal);
    display: block;
    margin-bottom: 0.625rem;
    padding: 1rem;
    border-radius: 8px;
}

.questoes ol li:hover {
    background: var(--principal);
    cursor: pointer;
}

.bloqueado {
    display: none;
}

.bloqueado li:hover {
    display: none;
}

#instrucoes {
    font-size: 1rem;
    color: #191919;
    padding: 0.625rem;
    border-radius: 8px;

    display: flex;
    justify-content: center;
}

#aviso {
    color: var(--principal);
}

#autoria {
    margin-top: 0.625rem;
    font-size: 0.75rem;
}

/* ANIMACAO */

/* Animar o input */
@keyframes piscar {
    0% {
        filter: drop-shadow(0 0 15px var(--principal));
        -webkit-filter: drop-shadow(0 0 15px var(--principal));
        -moz-filter: drop-shadow(0 0 15px var(--principal));
        -o-filter: drop-shadow(0 0 15px var(--principal));
        -ms-filter: drop-shadow(0 0 15px var(--principal));
    }
    100% {
    }
}

.animar {
    animation: piscar .75s infinite alternate;
}

.aparecer {
    animation: aparecer .5s infinite alternate;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.acertou {
    background: var(--verde);
    animation: aparecer 0.1s infinite alternate;
}

.errou {
    background: var(--vermelho);
    animation: aparecer 0.1s infinite alternate;
}

.placar {
    padding: 1rem;
    border-radius: 8px;
    background:#03a9f4;
    font-size: 2rem;
}


.box-text{
    margin-left: 0px;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    background: rgb(255, 255, 254);
    border-radius: 1px;
    box-shadow: 0 5px rgba(0,0,0,.5);
    display: flex;
    border-radius: 50px;
    

}

.box-text .imgBx{
    width: 150px;
    flex: 0 0 150px;

}

.box-text .imgBx img{
    max-width: 100%;

}

.box-text .content-text{
padding-left: 20px;
}

.box-text .content-text h2{
    margin: 0;
    padding-left: 0;
    color: #d6dee1;
    font-size: 22px;

    }

    .box-text .content-text p{
      margin: 0;
      padding: 10px 0 0;
      text-align: justify;
        }