html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    
}

body {
    height: 100vh;
    background-color: #ffad7e;
    padding: 1.5rem;
    margin: 0;
    scroll-behavior: smooth;
  }


.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%; 
}

header {
    height: 200px;
    padding: 20px 0;
    
    
}

.logo{
    width: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;    
}

.logo-text{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu{
    padding-top: 30px;
    width: 90%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: rgb(63, 45, 5);

}


.social-media{
    position: absolute;
    right: 510px;
    top: -100px;
}

.social-media img{
    display: block;
    width: 40px;
    margin: 10px 0;
}

.copodecafe{
    transition: all 0.5s;
    cursor: pointer;
}

.copodecafe:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.icon-github{
    transition: all 0.5s;
    cursor: pointer;
}

.icon-github:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.icon-discord{
    transition: all 0.5s;
    cursor: pointer;
}

.icon-discord:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.icon-instagram{
    transition: all 0.5s;
    cursor: pointer;
}

.icon-instagram:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.telegram{
    transition: all 0.5s;
    cursor: pointer;
}

.icon-telegram:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.texto-sobre{
    margin-top: 100px;
}

.texto-sobre h1{
    font-size: 50px;
}

.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bolder;
    max-width: 800px;
    font-size: 20px;
}

.texto-sobre button{
    border:0;
    background-color: chocolate;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 12px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    background-color: #ffad7e;
    height: 5vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    margin-left: -15px;
    border-radius: 50%;
    letter-spacing: 2px;
    margin-left: 30px;
}

.mobile-menu{
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(255, 254, 254);
    margin: 8px;
}

.nav-list.active {
    transform: translateX(0);
}

footer {  
    width: 100%;
    min-height: 25px;
    background: rgb(255, 255, 255);
    display: flex;
}

footer .boxs{
    left: -25px;
    width: 320px;
    min-height: 150px;
    padding: 20px;
}
::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e1e0d6;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  button{
    color: white;
  }